
/////header
.sc-fEyylQ {
background-color: var(--bg) !important;
color: var(--primary) !important;
font-weight: bolder;
// border-top-left-radius: 20px;
// border-top-right-radius: 20px;
}
///////first
.buGObk {
    background: var(--bg) !important;
    color: var(--text) !important;
    font-weight: bold;
   
    
    }
    
/// body
.bPokRt,.fWlzdU,.VqMBs {
background-color: var(--bg) !important;
color: var(--text) !important;
// border-top-left-radius: 20px;
// border-top-right-radius: 20px;

}

/////// buttom
.isdzTY{
background-color: var(--bg) !important;
color: var(--text) !important;

// border-bottom-left-radius: 20px;
// border-bottom-right-radius: 20px;

svg{
    fill:var(--text) !important;
}
}
