
@mixin Shadow {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);

}


@mixin Flex {
 display: flex;
 justify-content: center;
 align-items: center;

}

@mixin GlassModeBG{
  background-image: url("../../../public/Layout/mac.webp");
  width: 100%;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex; justify-content: center; align-items: center;
}
@mixin GlassBG{
  background-image: url("../../../public/Layout/mac.webp");
  width: 100%;
  background-size: cover;
  background-position: center;
}


@mixin GlassModeCover{
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(24px);
}